body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}
.App {
    text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.header {
  width:100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  background-color:white;
}
.display-space {
  display: flex;
  flex-wrap:nowrap;
  flex-flow: column;
  height: 95vh;
  width: 100vw;
  background-color: black;
}
.glyphicon {
  width: 50px;
}
.left-button, .right-button {
  width: 50px;
}

.ui.massive.fluid.inverted.header.menu {
  margin: 0;
}
.poseCard {
  height: 85vh;
  
}
@media (min-width: 450px) and (max-width: 1000px) {
  .poseCard{
      height: 100vh;
    }
  }
  