body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.header {
  margin: 0vh 0 0 0;
  width:100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;

  justify-content: center;
  background-color:white;
}
.display-space {
  display: flex;
  flex-wrap:nowrap;
  flex-flow: column;
  height: 95vh;
}
.card {
  display:flex;
  justify-content:center;
}

img {
  display:block;
  width:auto;
  height:auto;
  max-width:100%;
}
.glyphicon {
  width: 50px;
}
.left-button, .right-button {
  width: 50px;
}

.loginForm {
  height: 40vh;
  width: 15vw;
  display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;
align-content: center;
}

.PopupLogin {
  height: 40vh;
  width: 40vw;
    display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;
align-content: center;
}





